

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}
body h1 {
  margin: auto;
}
body h3 {
  margin: auto;
}

.container {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(106, 238, 14, 0.09);
          box-shadow: 0px 0px 8px 4px rgba(106, 238, 14, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent;
}
.container a:hover {
  color: rgb(41, 161, 41);
  scale: 1.1;
}